
/* ==========================================================================
   About Page
   ========================================================================== */

.mission {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.contact-section {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-content p {
  margin: 0;
}

.map figure {
  height: 0;
  padding-bottom: 45%;
  overflow: hidden;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ==========================================================================
   FAQ Page
   ========================================================================== */

.faq {
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.faq .content-wrapper {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.faq h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.faq-content {
  margin-bottom: 50px;
}

.faq-content h4 {
  line-height: 1.333;
}



/* ==========================================================================
   About Page
   ========================================================================== */

.mission-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.mission-content p {
  width: 45%;
}

.map figure {
  padding-bottom: 45.5%;
}

.contact-section .content-wrapper h2 {
  width: 80%;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-content h4 {
  font-size: 1.5em;
}

/* ==========================================================================
   FAQ Page
   ========================================================================== */
.faq .content-wrapper {
  justify-content: space-between;
}

.faq-content {
  flex-basis: 45%;
}

.faq h2 {
  width: 100%;
}

.faq h4,
.faq p {
  font-size: 0.875em;
  line-height: 1.125;
}

@media only screen and (min-width: 1200px) {
  /*Desktop styles here */

  header {
    padding: 15px 0;
  }

  .content-wrapper {
    max-width: 960px;
  }

  h2 {
    font-size: 2.25em;
  }

  h3,
  h4 {
    font-size: 1.875em;
  }

  a {
    display: flex;
    align-items: flex-start;
    padding: 0 1rem;
  }

  p {
    line-height: 1.333;
  }

  /* Aside */
  aside .content-wrapper {
    justify-content: space-around;
  }

  /* Hero */
  .hero-area h1 {
    font-size: 3.75em;
    width: 80%;
  }

  /* Aside */
  aside .content-wrapper {
    justify-content: space-around;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 30%;
  }

  .form-description p {
    font-size: 1.125em;
  }

  /* Features */
  .features h2 {
    width: 90%;
  }

  .features article {
    flex-basis: 33%;
  }

  /* Reviews */
  .reviews h2 {
    padding-bottom: 50px;
  }

  .reviews article div {
    width: 42%;
  }

  footer h4 {
    font-size: 1.875em;
  }

  /* ==========================================================================
About Page
========================================================================== */

  .map figure {
    padding-bottom: 37.5%;
  }

  .mission h2,
  .contact-section .content-wrapper h2 {
    width: 95%;
    font-size: 3em;
  }

  .contact-content h4 {
    font-size: 1.875em;
  }

  /* ==========================================================================
FAQ Page
========================================================================== */
  .faq h2 {
    width: 100%;
    font-size: 3em;
  }

  .faq h4,
  .faq p {
    line-height: 1;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
