:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16.5px;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html,
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color: #222;
	font-size: 16px;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

body {
	padding: 0;
	margin: 0;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	font-family: 'Lora', serif;
	font-size: 1em;
	color: #d3d2d1;
	text-align: left;
	line-height: 1.6;
}

header,
footer {
	background-color: #747b77;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 1.875em;
	margin: 0;
}

h3,
h4 {
	font-family: 'Raleway', sans-serif;
	margin: 20px 0;
	font-size: 1.125em;
	margin: 20px 0;
}

p {
	font-size: 0.9em;
	line-height: 1.285em;
	font-weight: normal;
}

a {
	padding: 0 0.5rem;
	color: #d2d1d4;
	text-decoration: none;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.card {
	padding: 2em;
}

img {
	width: 10rem;
	height: 10rem;
}

@media screen and (max-width: 720px) {
	img {
		width: 10rem;
	}
}

figure {
	margin: 0;
}

address {
	font-style: normal;
}

.content-wrapper {
	width: 100%;
	margin: 50px 0;
}

#app {
	margin: 0 auto;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
	display: none !important;
}

/*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
}

/*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */

.sr-only.focusable:active,
.sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/*
  * Hide visually and from screen readers, but maintain layout
  */

.invisible {
	visibility: hidden;
}

/*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */

.clearfix::before,
.clearfix::after {
	content: ' ';
	display: table;
}

.clearfix::after {
	clear: both;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
